.bootstrap-table {
  margin-left: 32px;
  width: 93.49593495934960%;;
}
.bootstrap-table thead tr {
  border-top: none !important;
}
.bootstrap-table thead tr th {
  border-bottom-width: 0px !important;
}
.bootstrap-table thead tr th .th-inner {
  padding-top: 0 !important;
  padding-bottom: 4.5px !important;
  display: inline-block;
}
.table-bordered > :not(caption) > * > * {
  border: none;
}
.bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
  border-left: none !important;
  border-right: none !important;
}
.bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
  border-bottom: none !important;
}
.bootstrap-table tbody tr td {
  padding-top: 19px;
  padding-bottom: 17px;
  line-height: 1.15;
}
.bootstrap-table .fixed-table-container .table thead th .both {
  background-image: none !important;
}
.bootstrap-table .fixed-table-container .table thead th .th-inner {
  position: relative !important;
}
.bootstrap-table .fixed-table-container .table thead th:nth-child(1) {
//   width: 16.07074541237106% !important;
}
.bootstrap-table .fixed-table-container .table thead th .desc::after {
  display: inline-block;
  position: absolute;
  content: '';
  top: 3px;
  right: 8px;
  width: 18px;
  height: 18px;
  background-image: url('../images/arrow-down.svg') !important;
}
.bootstrap-table .fixed-table-container .table thead th .asc::after {
  display: inline-block;
  position: absolute;
  content: '';
  top: 3px;
  right: 8px;
  width: 18px;
  height: 18px;
  background-image: url('../images/arrow-up.svg') !important;
}
.act-column button:nth-child(1) {
  top:17px;
  left:0;
}
.act-column button:nth-child(2) {
  top:17px;
  left:48px;
}
.fixed-table-pagination {
  margin-top: 53px;
  margin-bottom: 22px;
}
.page-link:hover {
  border-color: #198754 !important;
  color: #198754 !important;
}
.active .page-link:hover {
  color: #fff !important;
}
.page-item.active .page-link {
  background-color: #198754;
  border-color: #198754;
}
.page-link {
  color: #198754;
  border: 1px solid #198754;
}
.modal-dialog {
  max-width: 480px;
}
.modal-body img {
  width: 141px;
  height: 141px;
}
.modal-body .btn-close {
  top: 32px;
  right: 32px;
}
.accordion {
  width: 251px;
}
.accordion-button::after {
  background-image: url('../images/expand_more_black_24dp.svg');
  background-size: 1.5rem;
  width: 24px;
  height: 24px;
}
.accordion-button:not(.collapsed)::after {
  background-image: url('../images/expand_less_black_24dp.svg');
}
.accordion-button:not(.collapsed) {
  color: #000;
  background: none !important;
  box-shadow: none;
}
.form-check-input:checked, .page-list .btn-secondary {
  background-color: #198754;
  border-color: #198754;
}
.page-list .dropdown-item.active, .dropdown-item:active {
  background-color: #198754;
}