.assignment-list {
  width: 32.52032520325203%;
}
.assignment-content {
  width: 59.34959349593496%;
}
.assignment-content-ul > li > ul {
  list-style-type: disc;
}
:root {
	--ck-sample-editor-min-height: 300px;
}
#editor + div {
  position: absolute;
  width: 100%;
  bottom: -9.4%;
  display: none;
}
#editor + div + button, #editor + div + button + button {
  z-index: 9999;
}